# Environment and Configuration Files
.env
config_bot.yaml

# Virtual Environments
venv/
.venv/

# Log files
*.log

# IDE Configuration
.idea/
.vscode/
.mypy_cache/
.github/

# Compiled Python Files
__pycache__/

# macOS Specific Files
.DS_Store

# Redis
*.rdb
redis.conf
